<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>News Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img [src]="image" alt="">
  <h1>{{headLine}}</h1>
  <p>{{description}}</p>
</ion-content>
